@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Press+Start+2P&family=Silkscreen&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
}

.header {
    display: flex;
    flex-direction: row;
    font-size: 8px;
    justify-content: left;
    max-height: 100px;
    align-items: center;
    padding-bottom: 20px;
    color: rgb(251, 225, 237);
}

#logo {
    width: 100px; /* width of container */
    height: 70px; /* height of container */
    object-fit: cover;
}


.calculator {
    margin: 0;
    padding: 1.5em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 1em;
    background-image: url(cowprint.jpeg);
    background-size: cover;
    width: 280px;
    height: 300px;
    max-width: 380px;
    max-height: 450px;
    gap: 20px;
    box-shadow: 3px 3px 5px 2px black;
}

.display_container {
    background-color: rgb(244, 250, 255);
    border-radius: 1em;
    box-shadow: inset 0 0 5px black;
    width: 100%;
    height: 30%;
    display: flex;
    overflow: hidden;
}

.controlPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px rgba(99, 99, 99, 0.455);
}

.left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 75%;
    height: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.rows {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

button {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    align-items: center;
    flex-direction: row;
    background-color: rgb(255, 223, 240);
    border: 0 solid;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 1px 1px rgba(99, 99, 99, 0.455);
    font-size: 1.2em;
}

button:active {
    background-color: rgba(202, 202, 202, 0.763);
}

button:hover {
    cursor: pointer;
    background-color: rgb(255, 186, 222);
}

.special:hover {
    background-color: rgb(252, 146, 213);
}

.special:active {
    background-color: rgba(153, 152, 152, 0.763);
}

.operator:hover {
    background-color: rgb(250, 121, 121);
}

.operator:active {
    background-color: rgba(204, 112, 20, 0.758);
}

.operator {
    font-size: 1.4em;
}

p {
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.display {
    margin-right: 0;
    padding: 10px 10px;
    font-size: 2em;
    font-family: 'Orbitron', sans-serif;
    color: rgb(233, 128, 181)
}

.operator {
    background-color: rgb(255, 98, 98);
}

.special {
    background-color: rgb(232, 137, 197);
}

.active {
    border: 2px solid rgb(0, 0, 0);
}
